# https://github.com/npm/cli/issues/7857
# NODE_OPTIONS='--disable-warning=ExperimentalWarning'
# May-2025, Node@24, this seems to be UNKNOWN:
# npm warn Unknown project config "NODE_OPTIONS". This will stop working in the next major version of npm.
# npm warn Unknown user config "unsafe-perm". This will stop working in the next major version of npm.
