#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* body {
  background-color: white;
  color: black;
} */

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;

    .centerColumn,
    .column.left,
    .column.right {
      color: lightgray;
    }

    g.recharts-label-list text {
      fill: lightgray !important;
    }

    g.recharts-reference-line {
      line {
        stroke: lightsalmon;
      }
    }

    g.recharts-reference-area {
      path {
        fill: lightgreen;
        fill-opacity: 0.5;
        stroke: green;
        stroke-width: 5;
      }
    }
  }
}
